langgraph
langchain-openai
langchain-community
duckduckgo-search
beautifulsoup4
requests
python-dotenv
tiktoken
pandas
chromadb
sentence_transformers
scikit-learn
seaborn
matplotlib
datasets
arize-phoenix-otel
openinference-instrumentation-openai